<ion-view view-title="Автомобили">
  <ion-content>
    <ion-list>
      <ion-item ng-repeat="item in items"  href="#/app/playlists/{{playlist.id}}">
        Hello, {{item}}!
      </ion-item>
      <ion-item   href="#/app/playlists/{{playlist.id}}">
        Bentley VER45 - F001AAA
      </ion-item>
      <ion-item  href="#/app/playlists/{{playlist.id}}">
        Lamborghini Veneno - F001AAB
      </ion-item>
      <ion-item>
        + Добавить авто
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
