<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Добавить авто</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeAddCar()">Закрыть</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form ng-submit="doAddCar()">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Марка</span>
          <input type="text" ng-model="addCartData.name">
        </label>
        <label class="item item-input">
          <span class="input-label">Модель</span>
          <input type="text" ng-model="addCartData.number">
        </label>
        <label class="item">
          <button class="button button-block button-positive" type="submit">Добавить</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
